spring:
  datasource:
    url: jdbc:h2:mem:dataSource;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
    continue-on-error: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto create-drop

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

jwt:
  secret: "localjwtsecret"
  expiration: 3600000

security:
  allow-urls: /h2-console/**,/auth/**